<div class="columns-1 sm:columns-2 lg:columns-3 gap-3">
  {% assign images = site.data.photos[include.type] %}
  {% for image in images %}
    <div class="mb-3 break-inside-avoid overflow-hidden">
      <a href="{{ image.url }}" data-fancybox="gallery">
        <img
          src="{{ image.url }}"
          alt="{{ image.alt }}"
          class="w-full object-cover transition-transform duration-500 transform hover:scale-110 opacity-0 animate-fade-in"
        />
      </a>
    </div>
  {% endfor %}
</div>
