<body class="dark:bg-black bg-white h-screen text-black dark:text-[#ffb900] px-5 md:px-20 opacity-0 animate-fade-in transition duration-500"> 

  <!-- Navbar -->
  <header class="flex w-full overflow-hidden pt-10 pb-1">
    <nav id="nav" x-data="{ open: false }" role="navigation" class="w-full">
      <div class="container mx-auto flex flex-wrap items-center md:flex-no-wrap">
        <div class="mr-4 md:mr-8">
          <a href="{{ site.baseurl }}/" class="text-3xl font-bebasneue font-bold">Jacob Charles</a>
        </div>
        <div class="ml-auto md:hidden flex items-center justify-start">
          <button onclick="menuToggle()" @click="open = !open"
            class="tap-highlight-transparent text-black dark:text-white w-5 h-5 relative focus:outline-none">
            <span class="sr-only">Open main menu</span>
            <div class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
              <span aria-hidden="true"
                class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
              <span aria-hidden="true"
                class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                :class="{'opacity-0': open }"></span>
              <span aria-hidden="true"
                class="block absolute h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out"
                :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
            </div>
          </button>
        </div>

        <div id="menu"
          class="w-full h-0 transition-all ease-out duration-500 md:transition-none md:w-auto md:flex-grow md:flex md:items-center">
          <ul id="ulMenu"
            class="flex flex-col duration-300 ease-out md:space-x-5 sm:transition-none mt-5 md:flex-row md:items-center md:ml-auto md:mt-0 md:pt-0 md:border-0">

            <li class="group transition duration-300">
              <a href="{{ site.baseurl }}/photo/"
                 class="font-bebasneue text-2xl tap-highlight-transparent relative pb-1
                   {% if page.url contains '/photo/' %}
                     after:absolute after:left-0 after:bottom-0 after:w-full after:h-0.5 after:bg-black dark:after:bg-white
                   {% else %}
                     after:absolute after:left-0 after:bottom-0 after:w-0 group-hover:after:w-full after:h-0.5 after:bg-black dark:after:bg-white after:transition-all after:duration-500
                   {% endif %}">
                PHOTO
              </a>
            </li>

            <li class="group transition duration-300">
              <a href="{{ site.baseurl }}/video/"
                 class="font-bebasneue text-2xl tap-highlight-transparent relative pb-1
                   {% if page.url == '/video/' %}
                     after:absolute after:left-0 after:bottom-0 after:w-full after:h-0.5 after:bg-black dark:after:bg-white
                   {% else %}
                     after:absolute after:left-0 after:bottom-0 after:w-0 group-hover:after:w-full after:h-0.5 after:bg-black dark:after:bg-white after:transition-all after:duration-500
                   {% endif %}">
                VIDEO
              </a>
            </li>

            <li class="group transition duration-300">
              <a href="{{ site.baseurl }}/contact/"
                 class="font-bebasneue text-2xl tap-highlight-transparent relative pb-1
                   {% if page.url == '/contact/' %}
                     after:absolute after:left-0 after:bottom-0 after:w-full after:h-0.5 after:bg-black dark:after:bg-white
                   {% else %}
                     after:absolute after:left-0 after:bottom-0 after:w-0 group-hover:after:w-full after:h-0.5 after:bg-black dark:after:bg-white after:transition-all after:duration-500
                   {% endif %}">
                CONTACT
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>
