  <!-- jQuery -->
  <script src="//code.jquery.com/jquery-{{ site.jquery_version }}.min.js"></script>

  <!-- Alpine.js -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <!-- Fancybox Init -->
  <script>
    Fancybox.bind("[data-fancybox]", {});
  </script>

  <!-- <!-- Masonry.js instead of Fancybox Init: OLD VER JUST LOADING MASONRY
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script>
    window.onload = function () {
      new Masonry('.js-masonry', {
        itemSelector: '.masonry-item',
        gutter: 16,
        percentPosition: true
      });
    };
  </script>
-->
<!-- Masonry.js instead of Fancybox Init (NEW: more stable with image loading script
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
  window.addEventListener("load", function () {
    const grid = document.querySelector('.js-masonry');
   /* const sizer = grid.querySelector('.masonry-sizer'); */
    imagesLoaded(grid, function () {
      if (grid.masonryInstance) grid.masonryInstance.destroy();
      grid.masonryInstance = new Masonry(grid, {
        itemSelector: '.masonry-item',
        columnWidth: sizer, // DOM 요소 직접 넘기기!
        gutter: 16,
        percentPosition: true
      });
    })
  });
</script>-->


<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script><script>
  window.addEventListener("load", function () {
    const grid = document.querySelector('.js-masonry');
    const images = document.querySelectorAll('img[loading="lazy"]');

    images.forEach(img => {
      // Wait for images to be loaded
      img.onload = function () {
        if (grid) {
          imagesLoaded(grid, function () {
            new Masonry(grid, {
              itemSelector: '.masonry-item',
              columnWidth: sizer,
              gutter: 16,
              percentPosition: true
            });
          });
        }
      };
    });
  });
</script>



  <!-- Local scripts -->
  <!-- <script src="{{ site.baseurl }}/dist/fade_in.js"></script> 메뉴에는 화면전환 fade in 안시키려고 빼고 layout에 대신 넣음 -->
  <script src="{{ site.baseurl }}/dist/menu.js"></script>
  <script src="{{ site.baseurl }}/dist/nocopy.js"></script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');
</script>
