<ul
  class="flex flex-col duration-300 ease-out md:space-x-5 sm:transition-none mt-5 md:flex-row md:items-center md:ml-auto md:mt-0 md:pt-0 md:border-0 justify-center text-center">

  <li class="group transition duration-300">
    <a href="{{ site.baseurl }}/photo/university"
       class="text-xl sm:text-2xl md:text-3xl pt-10 pb-8 font-barlow font-normal tap-highlight-transparent {% if page.url == '/photo/arch/' %}border-b border-black dark:border-white{% else %}group-hover:border-b group-hover:border-black dark:group-hover:border-white{% endif %}">
      university social media
    </a>
  </li>
  
  <p class="text-xl sm:text-2xl md:text-3xl pt-10 pb-8 font-barlow font-normal"> | </p>

  <li class="group transition duration-300">
    <a href="{{ site.baseurl }}/photo/architecture"
       class="text-xl sm:text-2xl md:text-3xl pt-10 pb-8 font-barlow font-normal tap-highlight-transparent {% if page.url == '/photo/arch/' %}border-b border-black dark:border-white{% else %}group-hover:border-b group-hover:border-black dark:group-hover:border-white{% endif %}">
      architecture
    </a>
  </li>

  <p class="text-xl sm:text-2xl md:text-3xl pt-10 pb-8 font-barlow font-normal"> | </p>

  <li class="group transition duration-300">
    <a href="{{ site.baseurl }}/photo/portraits"
       class="text-xl sm:text-2xl md:text-3xl pt-10 pb-8 font-barlow font-normal tap-highlight-transparent {% if page.url == '/photo/portrait/' %}border-b border-black dark:border-white{% else %}group-hover:border-b group-hover:border-black dark:group-hover:border-white{% endif %}">
      portraits
    </a>
  </li>

  <p class="text-xl sm:text-2xl md:text-3xl pt-10 pb-8 font-barlow font-normal"> | </p>

  <li class="group transition duration-300">
    <a href="{{ site.baseurl }}/photo/events"
       class="text-xl sm:text-2xl md:text-3xl pt-10 pb-8 font-barlow font-normal tap-highlight-transparent {% if page.url == '/photo/events/' %}border-b border-black dark:border-white{% else %}group-hover:border-b group-hover:border-black dark:group-hover:border-white{% endif %}">
      events
    </a>
  </li>
</ul>
