<ul id="ulMenu"
  class="flex flex-col md:flex-row justify-center items-center space-y-2 md:space-y-0 md:space-x-6 text-center">

  <li class="group relative">
    <a href="{{ site.baseurl }}/photo/architecture" class="text-3xl font-barlow tap-highlight-transparent">
      architecture
      <span
        class="hidden md:block h-0.5 bg-black dark:bg-white transition-all duration-500 absolute left-0 bottom-0
        {% if page.url == '/photo/architecture/' %}
          max-w-full
        {% else %}
          max-w-0 group-hover:max-w-full
        {% endif %}">
      </span>
    </a>
  </li>

  <li class="text-3xl font-barlow">|</li>

  <li class="group relative">
    <a href="{{ site.baseurl }}/photo/portraits" class="text-3xl font-barlow tap-highlight-transparent">
      portraits
      <span
        class="hidden md:block h-0.5 bg-black dark:bg-white transition-all duration-500 absolute left-0 bottom-0
        {% if page.url == '/photo/portraits/' %}
          max-w-full
        {% else %}
          max-w-0 group-hover:max-w-full
        {% endif %}">
      </span>
    </a>
  </li>

  <li class="text-3xl font-barlow">|</li>

  <li class="group relative">
    <a href="{{ site.baseurl }}/photo/events" class="text-3xl font-barlow tap-highlight-transparent">
      events
      <span
        class="hidden md:block h-0.5 bg-black dark:bg-white transition-all duration-500 absolute left-0 bottom-0
        {% if page.url == '/photo/events/' %}
          max-w-full
        {% else %}
          max-w-0 group-hover:max-w-full
        {% endif %}">
      </span>
    </a>
  </li>

</ul>
