<ul class="flex flex-col md:flex-row justify-center items-center text-center space-y-2 md:space-y-0 md:space-x-5 mt-5">
  {% assign current = page.url %}
  
  <li class="group relative">
    <a href="{{ site.baseurl }}/photo/architecture" class="font-bebasneue text-2xl tap-highlight-transparent">
      ARCHITECTURE
      <span class="hidden md:block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black dark:bg-white
        {% if current == '/photo/architecture/' %} max-w-full {% endif %} block"></span>
    </a>
  </li>

  <li class="font-bebasneue text-2xl">|</li>

  <li class="group relative">
    <a href="{{ site.baseurl }}/photo/portraits" class="font-bebasneue text-2xl tap-highlight-transparent">
      PORTRAITS
      <span class="hidden md:block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black dark:bg-white
        {% if current == '/photo/portraits/' %} max-w-full {% endif %} block"></span>
    </a>
  </li>

  <li class="font-bebasneue text-2xl">|</li>

  <li class="group relative">
    <a href="{{ site.baseurl }}/photo/events" class="font-bebasneue text-2xl tap-highlight-transparent">
      EVENTS
      <span class="hidden md:block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black dark:bg-white
        {% if current == '/photo/events/' %} max-w-full {% endif %} block"></span>
    </a>
  </li>

  <li class="font-bebasneue text-2xl">|</li>

  <li class="group relative">
    <a href="{{ site.b
